<!DOCTYPE html>
<html>
  
  <head>
    
    <title>Available Counselor - AnuYog</title>
    <link rel="icon" type="images/x-icon" href="/static/logo- AnuYog.png" />
    
    {% include 'bootstrap_css.html' %}
    {% include 'lottie_script.html' %}
    
  </head>

  <body>

    <!--navigation bar-->
    {% include 'nav.html' %}

    <div class="image-container" style="width: 100%;max-height: 950px;overflow: hidden; align-content: center;">
      <img src="https://images.unsplash.com/reserve/wi9yf7kTQxCNeY72cCY6_Images%20of%20Jenny%20Lace%20Plasticity%20Publish%20%284%20of%2025%29.jpg?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80" style="width: 100%;height: auto;object-fit: cover; object-position: center; " alt="Your image">
    </div>

        
    <div class="container">
      

      
      
  
      {% include 'footer.html' %}
    </div>

    
  <!--javascript file-->
  {% include 'bootstrap_js.html' %}
    
  </body>

</html>