<!DOCTYPE html>
<html>
  
  <head>
    
    <title>Available Counselor - AnuYog</title>
    <link rel="icon" type="images/x-icon" href="/static/logo- AnuYog.png" />
    
    {% include 'bootstrap_css.html' %}
    {% include 'lottie_script.html' %}
    
  </head>

  <body>

    <!--navigation bar-->
    {% include 'nav.html' %}

    <div class="image-container" style="width: 100%;max-height: 952px;overflow: hidden; align-content: center;">
      <img src="https://images.unsplash.com/reserve/wi9yf7kTQxCNeY72cCY6_Images%20of%20Jenny%20Lace%20Plasticity%20Publish%20%284%20of%2025%29.jpg?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80" style="width: 100%;height: auto;object-fit: cover; object-position: center; " alt="Your image">
    </div>

        
    <div class="container">
      

      <h1 class="text-center p-5 mt-4 mb-4" style="color:rgb(150,110,300);">Choose your Counselor</h1>
        
      <div style="margin-left:420px;">
        <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
<lottie-player src="https://assets6.lottiefiles.com/packages/lf20_njobaah2.json"  background="transparent"  speed="1"  style="width: 500px; height: 500px;"  loop  autoplay></lottie-player>
      </div>


      <div class="row">
      {% for counselor in counselors %}
        <div class="col-4">
          <div class="card">
            <div class="row card-body">
              <div class = "col-6">
                <div class="text-center"><h3 class="card-title">{{counselor.name}}</h3></div>
                <h6>{{counselor.gender}}</h6>
                <h6>{{counselor.age}}</h6>
                <h6>{{counselor.occupation}}</h6><br>
                <!-- <div class = "text-center"><a href="/counselor/profile" class="btn btn-primary">More</a></div> -->
                <form action="/counselor/profile" method="post">
                    <input type="hidden" name="email" value="{{counselor.email}}">
                    <div class="text-center"><button type="submit" class="btn btn-primary">More</button></div>
                </form>
                
              </div>
              <div class = "col-6 align-self-center">
                <script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs" type="module"></script> 

                <dotlottie-player src="https://lottie.host/aafe57e4-cd8e-4578-a0ec-fa43d4582d4f/7DgarSlf8R.json" background="transparent" speed="1" style="width: 180px; height: 180px;" loop autoplay></dotlottie-player>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
      </div>
      
      
  
      {% include 'footer.html' %}
    </div>

    
  <!--javascript file-->
  {% include 'bootstrap_js.html' %}
    
  </body>

</html>
