<div id="hero-carousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>

    <div class="carousel-inner">
      <div class="carousel-item active c-item" style="height: 955px;">
        <img src="https://images.unsplash.com/photo-1499237302743-ba2c2740f824?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2069&q=80" class="d-block w-100 c-img" alt="Slide 1" style="height: 100%;  object-fit: cover;  filter: brightness(0.6);">
        <div class="carousel-caption justify-content-around align-item-center">
          <p class="mt-5 fs-3 text-uppercase">Feeling Lonely</p>
          <h1 class="display-1 fw-bolder text-capitalize">Get someone to talk</h1>
          <a href="/questions"><button class="btn btn-primary px-4 py-2 fs-5 mt-5">Consult Now</button></a>
        </div>
      </div>
      <div class="carousel-item c-item" style="height: 955px;">
        <img src="https://images.unsplash.com/photo-1620841713108-18ad2b52d15c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80" class="d-block w-100 c-img" alt="Slide 2" style="height: 100%;  object-fit: cover;  filter: brightness(0.6);">
        <div class="carousel-caption justify-content-around align-item-center">
          <p class="text-uppercase fs-3 mt-5">Feeling Distracted</p>
          <p class="display-1 fw-bolder text-capitalize">Get someone to Guide</p>
          <a href="/questions">
            <button class="btn btn-primary px-4 py-2 fs-5 mt-5">Consult Now</button></a>
        </div>
      </div>
      <div class="carousel-item c-item" style="height: 955px;">
        <img src="https://images.unsplash.com/photo-1498674202614-ac0172c6c61a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2071&q=80" class="d-block w-100 c-img" alt="Slide 3" style="height: 100%;  object-fit: cover;  filter: brightness(0.6);">
        <div class="carousel-caption justify-content-around align-item-center">
          <p class="text-uppercase fs-3 mt-5">Feeling Depressed</p>
          <p class="display-1 fw-bolder text-capitalize">Just Smile</p>
          <a href="/questions">
            <button class="btn btn-primary px-4 py-2 fs-5 mt-5" data-bs-toggle="modal"
            data-bs-target="#booking-modal">Consult Now</button></a>
        </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#hero-carousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#hero-carousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>