<!DOCTYPE html>
<html>
  
  <head>
    
    <title>Questions- AnuYog</title>
    <link rel="icon" type="images/x-icon" href="/static/logo- AnuYog.png" />
    
    {% include 'bootstrap_css.html' %}
    {% include 'lottie_script.html' %}
    
  </head>

  <body>

    <!--navigation bar-->
    {% include 'nav.html' %}

      <div class="image-container" >
      <img src="https://images.unsplash.com/photo-1617575521317-d2974f3b56d2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1974&q=80" style="width: 100%;height: 952px;object-fit: cover;overflow:hidden; align-content:center; " alt="Your image">
    </div>
    
    <div class="container">


      <div class="text-center lead fs-2 mt-4 p-4" style="color:rgb(150,10,300);">
        <b>Please answer some questions</b>
      </div>

      <div style="margin-left:500px;">
        <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
<lottie-player src="https://assets4.lottiefiles.com/packages/lf20_au4zdsr8.json"  background="transparent"  speed="1"  style="width: 300px; height: 300px;"  loop  autoplay></lottie-player>
      </div>

      <!-- <div class="text-center">
        <a href="/select_counselor" type="button" class="btn btn-outline-secondary">Skip</a>
      </div> -->


      


      <div class="row">
        <div class="col-8">
          <div class="mb-4">
            
            <form name="questions" class="lead" action="/questions" method="post">

              
              <div class="mb-2">
                <label for="Q1A" style="font-size:20px; color:rgb(100,100,100); font-family:Lucida Console;">I found myself getting upset by quite trivial things:</label><br>
                <div class="col-4">
                  <select name="Q1A" id="Q1A" class="form-select" aria-label="Default select example">
                    <option selected >Select any one</option>
                    <option value= 0 >Did not apply to me at all</option>
                    <option value= 1>Applied to me to some degree, or some of the time</option>
                    <option value= 2>Applied to me to a considerable degree, or a good part of the time</option>
                    <option value= 3>Applied to me very much, or most of the time</option>
                  </select>
                </div>
              </div>

              <br>

              <div class="mb-2">
                <label for="Q2A" style="font-size:20px; color:rgb(100,100,100); font-family:Lucida Console;">I was aware of dryness of my mouth:</label><br>
                <div class="col-4">
                  <select name="Q2A" id="Q2A" class="form-select" aria-label="Default select example">
                    <option selected >Select any one</option>
                    <option value= 0 >Did not apply to me at all</option>
                    <option value= 1>Applied to me to some degree, or some of the time</option>
                    <option value= 2>Applied to me to a considerable degree, or a good part of the time</option>
                    <option value= 3>Applied to me very much, or most of the time</option>
                  </select>
                </div>
              </div>

              <br>

              <div class="mb-2">
                <label for="Q3A" style="font-size:20px; color:rgb(100,100,100); font-family:Lucida Console;">I couldn't seem to experience any positive feeling at all:</label><br>
                <div class="col-4">
                  <select name="Q3A" id="Q3A" class="form-select" aria-label="Default select example">
                    <option selected >Select any one</option>
                    <option value= 0 >Did not apply to me at all</option>
                    <option value= 1>Applied to me to some degree, or some of the time</option>
                    <option value= 2>Applied to me to a considerable degree, or a good part of the time</option>
                    <option value= 3>Applied to me very much, or most of the time</option>
                  </select>
                </div>
              </div>

              <br>

              <div class="mb-2">
                <label for="Q4A" style="font-size:20px; color:rgb(100,100,100); font-family:Lucida Console;">I experienced breathing difficulty (eg, excessively rapid breathing, breathlessness in the absence of physical exertion):</label><br>
                <div class="col-4">
                  <select name="Q4A" id="Q4A" class="form-select" aria-label="Default select example">
                    <option selected >Select any one</option>
                    <option value= 0 >Did not apply to me at all</option>
                    <option value= 1>Applied to me to some degree, or some of the time</option>
                    <option value= 2>Applied to me to a considerable degree, or a good part of the time</option>
                    <option value= 3>Applied to me very much, or most of the time</option>
                  </select>
                </div>
              </div>

              <br>

              <div class="mb-2">
                <label for="Q5A" style="font-size:20px; color:rgb(100,100,100); font-family:Lucida Console;">I just couldn't seem to get going:</label><br>
                <div class="col-4">
                  <select name="Q5A" id="Q5A" class="form-select" aria-label="Default select example">
                    <option selected >Select any one</option>
                    <option value= 0 >Did not apply to me at all</option>
                    <option value= 1>Applied to me to some degree, or some of the time</option>
                    <option value= 2>Applied to me to a considerable degree, or a good part of the time</option>
                    <option value= 3>Applied to me very much, or most of the time</option>
                  </select>
                </div>
              </div>

              <br>

              <div class="mb-2">
                <label for="Q6A" style="font-size:20px; color:rgb(100,100,100); font-family:Lucida Console;">I tended to over-react to situations:</label><br>
                <div class="col-4">
                  <select name="Q6A" id="Q6A" class="form-select" aria-label="Default select example">
                    <option selected >Select any one</option>
                    <option value= 0 >Did not apply to me at all</option>
                    <option value= 1>Applied to me to some degree, or some of the time</option>
                    <option value= 2>Applied to me to a considerable degree, or a good part of the time</option>
                    <option value= 3>Applied to me very much, or most of the time</option>
                  </select>
                </div>
              </div>

              <br>

              <div class="mb-2">
                <label for="Q7A" style="font-size:20px; color:rgb(100,100,100); font-family:Lucida Console;">I had a feeling of shakiness (eg, legs going to give way):</label><br>
                <div class="col-4">
                  <select name="Q7A" id="Q7A" class="form-select" aria-label="Default select example">
                    <option selected >Select any one</option>
                    <option value= 0 >Did not apply to me at all</option>
                    <option value= 1>Applied to me to some degree, or some of the time</option>
                    <option value= 2>Applied to me to a considerable degree, or a good part of the time</option>
                    <option value= 3>Applied to me very much, or most of the time</option>
                  </select>
                </div>
              </div>

              <br>

              <div class="mb-2">
                <label for="Q8A" style="font-size:20px; color:rgb(100,100,100); font-family:Lucida Console;">I found it difficult to relax:</label><br>
                <div class="col-4">
                  <select name="Q8A" id="Q8A" class="form-select" aria-label="Default select example">
                    <option selected >Select any one</option>
                    <option value= 0 >Did not apply to me at all</option>
                    <option value= 1>Applied to me to some degree, or some of the time</option>
                    <option value= 2>Applied to me to a considerable degree, or a good part of the time</option>
                    <option value= 3>Applied to me very much, or most of the time</option>
                  </select>
                </div>
              </div>

              <br>

              <div class="mb-2">
                <label for="Q9A" style="font-size:20px; color:rgb(100,100,100); font-family:Lucida Console;">I found myself in situations that made me so anxious I was most relieved when they ended:</label><br>
                <div class="col-4">
                  <select name="Q9A" id="Q9A" class="form-select" aria-label="Default select example">
                    <option selected >Select any one</option>
                    <option value= 0 >Did not apply to me at all</option>
                    <option value= 1>Applied to me to some degree, or some of the time</option>
                    <option value= 2>Applied to me to a considerable degree, or a good part of the time</option>
                    <option value= 3>Applied to me very much, or most of the time</option>
                  </select>
                </div>
              </div>

              <br>

              <div class="mb-2">
                <label for="Q10A" style="font-size:20px; color:rgb(100,100,100); font-family:Lucida Console;">I felt that I had nothing to look forward to:</label><br>
                <div class="col-4">
                  <select name="Q10A" id="Q10A" class="form-select" aria-label="Default select example">
                    <option selected >Select any one</option>
                    <option value= 0 >Did not apply to me at all</option>
                    <option value= 1>Applied to me to some degree, or some of the time</option>
                    <option value= 2>Applied to me to a considerable degree, or a good part of the time</option>
                    <option value= 3>Applied to me very much, or most of the time</option>
                  </select>
                </div>
              </div>

              <br>

              <div class="mb-2">
                <label for="Q11A" style="font-size:20px; color:rgb(100,100,100); font-family:Lucida Console;">I found myself getting upset rather easily:</label><br>
                <div class="col-4">
                  <select name="Q11A" id="Q11A" class="form-select" aria-label="Default select example">
                    <option selected >Select any one</option>
                    <option value= 0 >Did not apply to me at all</option>
                    <option value= 1>Applied to me to some degree, or some of the time</option>
                    <option value= 2>Applied to me to a considerable degree, or a good part of the time</option>
                    <option value= 3>Applied to me very much, or most of the time</option>
                  </select>
                </div>
              </div>

              <br>

              <div class="mb-2">
                <label for="Q12A" style="font-size:20px; color:rgb(100,100,100); font-family:Lucida Console;">I felt that I was using a lot of nervous energy:</label><br>
                <div class="col-4">
                  <select name="Q12A" id="Q12A" class="form-select" aria-label="Default select example">
                    <option selected >Select any one</option>
                    <option value= 0 >Did not apply to me at all</option>
                    <option value= 1>Applied to me to some degree, or some of the time</option>
                    <option value= 2>Applied to me to a considerable degree, or a good part of the time</option>
                    <option value= 3>Applied to me very much, or most of the time</option>
                  </select>
                </div>
              </div>

              <br>

              <div class="mb-2">
                <label for="Q13A" style="font-size:20px; color:rgb(100,100,100); font-family:Lucida Console;">I felt sad and depressed:</label><br>
                <div class="col-4">
                  <select name="Q13A" id="Q13A" class="form-select" aria-label="Default select example">
                    <option selected >Select any one</option>
                    <option value= 0 >Did not apply to me at all</option>
                    <option value= 1>Applied to me to some degree, or some of the time</option>
                    <option value= 2>Applied to me to a considerable degree, or a good part of the time</option>
                    <option value= 3>Applied to me very much, or most of the time</option>
                  </select>
                </div>
              </div>

              <br>
              <div class="mb-2">
                  <label for="Q14A" style="font-size:20px; color:rgb(100,100,100); font-family:Lucida Console;">I found myself getting impatient when I was delayed in any way (eg, elevators, traffic lights, being kept waiting):</label><br>
                  <div class="col-4">
                      <select name="Q14A" id="Q14A" class="form-select" aria-label="Default select example">
                        <option selected >Select any one</option>
                        <option value= 0 >Did not apply to me at all</option>
                        <option value= 1>Applied to me to some degree, or some of the time</option>
                        <option value= 2>Applied to me to a considerable degree, or a good part of the time</option>
                        <option value= 3>Applied to me very much, or most of the time</option>
                      </select>
                  </div>
              </div>

              <br>
                  <div class="mb-2">
                      <label for="Q15A" style="font-size:20px; color:rgb(100,100,100); font-family:Lucida Console;">I had a feeling of faintness:</label><br>
                      <div class="col-4">
                          <select name="Q15A" id="Q15A" class="form-select" aria-label="Default select example">
                              <option selected >Select any one</option>
                              <option value= 0 >Did not apply to me at all</option>
                              <option value= 1>Applied to me to some degree, or some of the time</option>
                              <option value= 2>Applied to me to a considerable degree, or a good part of the time</option>
                              <option value= 3>Applied to me very much, or most of the time</option>
                          </select>
                      </div>
                  </div>

              <br>
                  <div class="mb-2">
                      <label for="Q16A" style="font-size:20px; color:rgb(100,100,100); font-family:Lucida Console;">I felt that I had lost interest in just about everything:</label><br>
                      <div class="col-4">
                          <select name="Q16A" id="Q16A" class="form-select" aria-label="Default select example">
                              <option selected >Select any one</option>
                              <option value= 0 >Did not apply to me at all</option>
                              <option value= 1>Applied to me to some degree, or some of the time</option>
                              <option value= 2>Applied to me to a considerable degree, or a good part of the time</option>
                              <option value= 3>Applied to me very much, or most of the time</option>
                          </select>
                      </div>
                  </div>

              <br>
                  <div class="mb-2">
                      <label for="Q17A" style="font-size:20px; color:rgb(100,100,100); font-family:Lucida Console;">I felt I wasn't worth much as a person:</label><br>
                      <div class="col-4">
                          <select name="Q17A" id="Q17A" class="form-select" aria-label="Default select example">
                              <option selected >Select any one</option>
                              <option value= 0 >Did not apply to me at all</option>
                              <option value= 1>Applied to me to some degree, or some of the time</option>
                              <option value= 2>Applied to me to a considerable degree, or a good part of the time</option>
                              <option value= 3>Applied to me very much, or most of the time</option>
                          </select>
                      </div>
                  </div>

              <br>
                  <div class="mb-2">
                      <label for="Q18A" style="font-size:20px; color:rgb(100,100,100); font-family:Lucida Console;">I felt that I was rather touchy:</label><br>
                      <div class="col-4">
                          <select name="Q18A" id="Q18A" class="form-select" aria-label="Default select example">
                              <option selected >Select any one</option>
                              <option value= 0 >Did not apply to me at all</option>
                              <option value= 1>Applied to me to some degree, or some of the time</option>
                              <option value= 2>Applied to me to a considerable degree, or a good part of the time</option>
                              <option value= 3>Applied to me very much, or most of the time</option>
                          </select>
                      </div>
                  </div>

              <br>
                  <div class="mb-2">
                      <label for="Q19A" style="font-size:20px; color:rgb(100,100,100); font-family:Lucida Console;">I perspired noticeably (eg, hands sweaty) in the absence of high temperatures or physical exertion:</label><br>
                      <div class="col-4">
                          <select name="Q19A" id="Q19A" class="form-select" aria-label="Default select example">
                              <option selected >Select any one</option>
                              <option value= 0 >Did not apply to me at all</option>
                              <option value= 1>Applied to me to some degree, or some of the time</option>
                              <option value= 2>Applied to me to a considerable degree, or a good part of the time</option>
                              <option value= 3>Applied to me very much, or most of the time</option>
                          </select>
                      </div>
                  </div>

              <br>
                  <div class="mb-2">
                      <label for="Q20A" style="font-size:20px; color:rgb(100,100,100); font-family:Lucida Console;">I felt scared without any good reason:</label><br>
                      <div class="col-4">
                          <select name="Q20A" id="Q20A" class="form-select" aria-label="Default select example">
                              <option selected >Select any one</option>
                              <option value= 0 >Did not apply to me at all</option>
                              <option value= 1>Applied to me to some degree, or some of the time</option>
                              <option value= 2>Applied to me to a considerable degree, or a good part of the time</option>
                              <option value= 3>Applied to me very much, or most of the time</option>
                          </select>
                      </div>
                  </div>

              <br>
                  <div class="mb-2">
                      <label for="Q21A" style="font-size:20px; color:rgb(100,100,100); font-family:Lucida Console;">I felt that life wasn't worthwhile:</label><br>
                      <div class="col-4">
                          <select name="Q21A" id="Q21A" class="form-select" aria-label="Default select example">
                              <option selected >Select any one</option>
                              <option value= 0 >Did not apply to me at all</option>
                              <option value= 1>Applied to me to some degree, or some of the time</option>
                              <option value= 2>Applied to me to a considerable degree, or a good part of the time</option>
                              <option value= 3>Applied to me very much, or most of the time</option>
                          </select>
                      </div>
                  </div>

              <br>
                  <div class="mb-2">
                      <label for="Q22A" style="font-size:20px; color:rgb(100,100,100); font-family:Lucida Console;">I found it hard to wind down:</label><br>
                      <div class="col-4">
                          <select name="Q22A" id="Q22A" class="form-select" aria-label="Default select example">
                              <option selected >Select any one</option>
                              <option value= 0 >Did not apply to me at all</option>
                              <option value= 1>Applied to me to some degree, or some of the time</option>
                              <option value= 2>Applied to me to a considerable degree, or a good part of the time</option>
                              <option value= 3>Applied to me very much, or most of the time</option>
                          </select>
                      </div>
                  </div>

              <br>
                  <div class="mb-2">
                      <label for="Q23A" style="font-size:20px; color:rgb(100,100,100); font-family:Lucida Console;">I had difficulty in swallowing:</label><br>
                      <div class="col-4">
                          <select name="Q23A" id="Q23A" class="form-select" aria-label="Default select example">
                              <option selected >Select any one</option>
                              <option value= 0 >Did not apply to me at all</option>
                              <option value= 1>Applied to me to some degree, or some of the time</option>
                              <option value= 2>Applied to me to a considerable degree, or a good part of the time</option>
                              <option value= 3>Applied to me very much, or most of the time</option>
                          </select>
                      </div>
                  </div>

              <br>
                  <div class="mb-2">
                      <label for="Q24A" style="font-size:20px; color:rgb(100,100,100); font-family:Lucida Console;">I couldn't seem to get any enjoyment out of the things I did:</label><br>
                      <div class="col-4">
                          <select name="Q24A" id="Q24A" class="form-select" aria-label="Default select example">
                              <option selected >Select any one</option>
                              <option value= 0 >Did not apply to me at all</option>
                              <option value= 1>Applied to me to some degree, or some of the time</option>
                              <option value= 2>Applied to me to a considerable degree, or a good part of the time</option>
                              <option value= 3>Applied to me very much, or most of the time</option>
                          </select>
                      </div>
                  </div>

              <br>
                  <div class="mb-2">
                      <label for="Q25A" style="font-size:20px; color:rgb(100,100,100); font-family:Lucida Console;">I was aware of the action of my heart in the absence of physical exertion (eg, sense of heart rate increase, heart missing a beat):</label><br>
                      <div class="col-4">
                          <select name="Q25A" id="Q25A" class="form-select" aria-label="Default select example">
                              <option selected >Select any one</option>
                              <option value= 0 >Did not apply to me at all</option>
                              <option value= 1>Applied to me to some degree, or some of the time</option>
                              <option value= 2>Applied to me to a considerable degree, or a good part of the time</option>
                              <option value= 3>Applied to me very much, or most of the time</option>
                          </select>
                      </div>
                  </div>

              <br>
                  <div class="mb-2">
                      <label for="Q26A" style="font-size:20px; color:rgb(100,100,100); font-family:Lucida Console;">I felt down-hearted and blue:</label><br>
                      <div class="col-4">
                          <select name="Q26A" id="Q26A" class="form-select" aria-label="Default select example">
                              <option selected >Select any one</option>
                              <option value= 0 >Did not apply to me at all</option>
                              <option value= 1>Applied to me to some degree, or some of the time</option>
                              <option value= 2>Applied to me to a considerable degree, or a good part of the time</option>
                              <option value= 3>Applied to me very much, or most of the time</option>
                          </select>
                      </div>
                  </div>

              <br>
                  <div class="mb-2">
                      <label for="Q27A" style="font-size:20px; color:rgb(100,100,100); font-family:Lucida Console;">I found that I was very irritable:</label><br>
                      <div class="col-4">
                          <select name="Q27A" id="Q27A" class="form-select" aria-label="Default select example">
                              <option selected >Select any one</option>
                              <option value= 0 >Did not apply to me at all</option>
                              <option value= 1>Applied to me to some degree, or some of the time</option>
                              <option value= 2>Applied to me to a considerable degree, or a good part of the time</option>
                              <option value= 3>Applied to me very much, or most of the time</option>
                          </select>
                      </div>
                  </div>

              <br>
                  <div class="mb-2">
                      <label for="Q28A" style="font-size:20px; color:rgb(100,100,100); font-family:Lucida Console;">I felt I was close to panic:</label><br>
                      <div class="col-4">
                          <select name="Q28A" id="Q28A" class="form-select" aria-label="Default select example">
                              <option selected >Select any one</option>
                              <option value= 0 >Did not apply to me at all</option>
                              <option value= 1>Applied to me to some degree, or some of the time</option>
                              <option value= 2>Applied to me to a considerable degree, or a good part of the time</option>
                              <option value= 3>Applied to me very much, or most of the time</option>
                          </select>
                      </div>
                  </div>

              <br>
                  <div class="mb-2">
                      <label for="Q29A" style="font-size:20px; color:rgb(100,100,100); font-family:Lucida Console;">I found it hard to calm down after something upset me:</label><br>
                      <div class="col-4">
                          <select name="Q29A" id="Q29A" class="form-select" aria-label="Default select example">
                              <option selected >Select any one</option>
                              <option value= 0 >Did not apply to me at all</option>
                              <option value= 1>Applied to me to some degree, or some of the time</option>
                              <option value= 2>Applied to me to a considerable degree, or a good part of the time</option>
                              <option value= 3>Applied to me very much, or most of the time</option>
                          </select>
                      </div>
                  </div>

              <br>
                  <div class="mb-2">
                      <label for="Q30A" style="font-size:20px; color:rgb(100,100,100); font-family:Lucida Console;">I feared that I would be "thrown" by some trivial but unfamiliar task:</label><br>
                      <div class="col-4">
                          <select name="Q30A" id="Q30A" class="form-select" aria-label="Default select example">
                              <option selected >Select any one</option>
                              <option value= 0 >Did not apply to me at all</option>
                              <option value= 1>Applied to me to some degree, or some of the time</option>
                              <option value= 2>Applied to me to a considerable degree, or a good part of the time</option>
                              <option value= 3>Applied to me very much, or most of the time</option>
                          </select>
                      </div>
                  </div>

              <br>
                  <div class="mb-2">
                      <label for="Q31A" style="font-size:20px; color:rgb(100,100,100); font-family:Lucida Console;">I was unable to become enthusiastic about anything:</label><br>
                      <div class="col-4">
                          <select name="Q31A" id="Q31A" class="form-select" aria-label="Default select example">
                              <option selected >Select any one</option>
                              <option value= 0 >Did not apply to me at all</option>
                              <option value= 1>Applied to me to some degree, or some of the time</option>
                              <option value= 2>Applied to me to a considerable degree, or a good part of the time</option>
                              <option value= 3>Applied to me very much, or most of the time</option>
                          </select>
                      </div>
                  </div>

              <br>
                  <div class="mb-2">
                      <label for="Q32A" style="font-size:20px; color:rgb(100,100,100); font-family:Lucida Console;">I found it difficult to tolerate interruptions to what I was doing:</label><br>
                      <div class="col-4">
                          <select name="Q32A" id="Q32A" class="form-select" aria-label="Default select example">
                              <option selected >Select any one</option>
                              <option value= 0 >Did not apply to me at all</option>
                              <option value= 1>Applied to me to some degree, or some of the time</option>
                              <option value= 2>Applied to me to a considerable degree, or a good part of the time</option>
                              <option value= 3>Applied to me very much, or most of the time</option>
                          </select>
                      </div>
                  </div>

              <br>
                  <div class="mb-2">
                      <label for="Q33A" style="font-size:20px; color:rgb(100,100,100); font-family:Lucida Console;">I was in a state of nervous tension:</label><br>
                      <div class="col-4">
                          <select name="Q33A" id="Q33A" class="form-select" aria-label="Default select example">
                              <option selected >Select any one</option>
                              <option value= 0 >Did not apply to me at all</option>
                              <option value= 1>Applied to me to some degree, or some of the time</option>
                              <option value= 2>Applied to me to a considerable degree, or a good part of the time</option>
                              <option value= 3>Applied to me very much, or most of the time</option>
                          </select>
                      </div>
                  </div>

              <br>
                  <div class="mb-2">
                      <label for="Q34A" style="font-size:20px; color:rgb(100,100,100); font-family:Lucida Console;">I felt I was pretty worthless:</label><br>
                      <div class="col-4">
                          <select name="Q34A" id="Q34A" class="form-select" aria-label="Default select example">
                              <option selected >Select any one</option>
                              <option value= 0 >Did not apply to me at all</option>
                              <option value= 1>Applied to me to some degree, or some of the time</option>
                              <option value= 2>Applied to me to a considerable degree, or a good part of the time</option>
                              <option value= 3>Applied to me very much, or most of the time</option>
                          </select>
                      </div>
                  </div>

              <br>
                  <div class="mb-2">
                      <label for="Q35A" style="font-size:20px; color:rgb(100,100,100); font-family:Lucida Console;">I was intolerant of anything that kept me from getting on with what I was doing:</label><br>
                      <div class="col-4">
                          <select name="Q35A" id="Q35A" class="form-select" aria-label="Default select example">
                              <option selected >Select any one</option>
                              <option value= 0 >Did not apply to me at all</option>
                              <option value= 1>Applied to me to some degree, or some of the time</option>
                              <option value= 2>Applied to me to a considerable degree, or a good part of the time</option>
                              <option value= 3>Applied to me very much, or most of the time</option>
                          </select>
                      </div>
                  </div>

              <br>
                  <div class="mb-2">
                      <label for="Q36A" style="font-size:20px; color:rgb(100,100,100); font-family:Lucida Console;">I felt terrified:</label><br>
                      <div class="col-4">
                          <select name="Q36A" id="Q36A" class="form-select" aria-label="Default select example">
                              <option selected >Select any one</option>
                              <option value= 0 >Did not apply to me at all</option>
                              <option value= 1>Applied to me to some degree, or some of the time</option>
                              <option value= 2>Applied to me to a considerable degree, or a good part of the time</option>
                              <option value= 3>Applied to me very much, or most of the time</option>
                          </select>
                      </div>
                  </div>

              <br>
                  <div class="mb-2">
                      <label for="Q37A" style="font-size:20px; color:rgb(100,100,100); font-family:Lucida Console;">I could see nothing in the future to be hopeful about:</label><br>
                      <div class="col-4">
                          <select name="Q37A" id="Q37A" class="form-select" aria-label="Default select example">
                              <option selected >Select any one</option>
                              <option value= 0 >Did not apply to me at all</option>
                              <option value= 1>Applied to me to some degree, or some of the time</option>
                              <option value= 2>Applied to me to a considerable degree, or a good part of the time</option>
                              <option value= 3>Applied to me very much, or most of the time</option>
                          </select>
                      </div>
                  </div>

              <br>
                  <div class="mb-2">
                      <label for="Q38A" style="font-size:20px; color:rgb(100,100,100); font-family:Lucida Console;">I felt that life was meaningless:</label><br>
                      <div class="col-4">
                          <select name="Q38A" id="Q38A" class="form-select" aria-label="Default select example">
                              <option selected >Select any one</option>
                              <option value= 0 >Did not apply to me at all</option>
                              <option value= 1>Applied to me to some degree, or some of the time</option>
                              <option value= 2>Applied to me to a considerable degree, or a good part of the time</option>
                              <option value= 3>Applied to me very much, or most of the time</option>
                          </select>
                      </div>
                  </div>

              <br>
                  <div class="mb-2">
                      <label for="Q39A" style="font-size:20px; color:rgb(100,100,100); font-family:Lucida Console;">I found myself getting agitated:</label><br>
                      <div class="col-4">
                          <select name="Q39A" id="Q39A" class="form-select" aria-label="Default select example">
                              <option selected >Select any one</option>
                              <option value= 0 >Did not apply to me at all</option>
                              <option value= 1>Applied to me to some degree, or some of the time</option>
                              <option value= 2>Applied to me to a considerable degree, or a good part of the time</option>
                              <option value= 3>Applied to me very much, or most of the time</option>
                          </select>
                      </div>
                  </div>

              <br>
                  <div class="mb-2">
                      <label for="Q40A" style="font-size:20px; color:rgb(100,100,100); font-family:Lucida Console;">I was worried about situations in which I might panic and make a fool of myself:</label><br>
                      <div class="col-4">
                          <select name="Q40A" id="Q40A" class="form-select" aria-label="Default select example">
                              <option selected >Select any one</option>
                              <option value= 0 >Did not apply to me at all</option>
                              <option value= 1>Applied to me to some degree, or some of the time</option>
                              <option value= 2>Applied to me to a considerable degree, or a good part of the time</option>
                              <option value= 3>Applied to me very much, or most of the time</option>
                          </select>
                      </div>
                  </div>

              <br>
                  <div class="mb-2">
                      <label for="Q41A" style="font-size:20px; color:rgb(100,100,100); font-family:Lucida Console;">I experienced trembling (eg, in the hands):</label><br>
                      <div class="col-4">
                          <select name="Q41A" id="Q41A" class="form-select" aria-label="Default select example">
                              <option selected >Select any one</option>
                              <option value= 0 >Did not apply to me at all</option>
                              <option value= 1>Applied to me to some degree, or some of the time</option>
                              <option value= 2>Applied to me to a considerable degree, or a good part of the time</option>
                              <option value= 3>Applied to me very much, or most of the time</option>
                          </select>
                      </div>
                  </div>

              <br>
                  <div class="mb-2">
                      <label for="Q42A" style="font-size:20px; color:rgb(100,100,100); font-family:Lucida Console;">I found it difficult to work up the initiative to do things:</label><br>
                      <div class="col-4">
                          <select name="Q42A" id="Q42A" class="form-select" aria-label="Default select example">
                              <option selected >Select any one</option>
                              <option value= 0 >Did not apply to me at all</option>
                              <option value= 1>Applied to me to some degree, or some of the time</option>
                              <option value= 2>Applied to me to a considerable degree, or a good part of the time</option>
                              <option value= 3>Applied to me very much, or most of the time</option>
                          </select>
                      </div>
                  </div>

              

              <!-- <div class="mb-2">
                <label style="font-size:20px;color:rgb(100,100,100); font-family:Lucida Console;">Tell about you</label><br>
                <textarea class="form-control" name="question_30" placeholder="Tell about your condition in one word.."></textarea>
              </div> -->
              <br><br>
              <div class="text-center">
                <button class="btn btn-primary btn-lg" type="submit" disabled>Submit</button>
                <a href="/logout" button class="btn btn-outline-primary btn-lg">You can't submit it, try logging in as Hero (click to logout)</button></a>
                <a href = "/" button class="btn btn-primary btn-lg">Go Home</a>
              </div>

              
            </form>
          </div>
        </div>

        <div class="col-4 align-self-center">
          <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
<lottie-player src="https://assets8.lottiefiles.com/packages/lf20_V0pDim.json"  background="transparent"  speed="1"  style="width: 500px; height: 500px;"  loop  autoplay></lottie-player>
        </div>
        
      </div>
      
      
      



      
      {% include 'footer.html' %}
    </div>

    
  <!--javascript file-->
  {% include 'bootstrap_js.html' %}
    
  </body>

</html>