<!DOCTYPE html>
<html>
  
  <head>
    
    <title>Counselor - AnuYog</title>
    <link rel="icon" type="images/x-icon" href="/static/logo- AnuYog.png" />
    
    {% include 'bootstrap_css.html' %}
    {% include 'lottie_script.html' %}
    
  </head>

  <body>

    <!--navigation bar-->
    {% include 'nav.html' %}

    <div class="image-container" style="width: 100%;max-height: 950px;overflow: hidden; align-content: center;">
      <img src="https://images.unsplash.com/photo-1558522195-e1201b090344?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80" style="width: 100%;height: auto;object-fit: cover; object-position: center; " alt="Your image">
    </div>

        
    <div class="container">
      

      <h1 class="text-center p-5 mt-4 mb-4" style="color:rgb(150,110,300);">You are registered as a Counselor</h1>
  

      <b>Full Name</b>
      <div class="mb-2">{{counselor['name']}}</div>

      <b>Age</b>
      <div class="mb-2">{{counselor['age']}}</div>

      <b>Gender</b>
      <div class="mb-2">{{counselor['gender']}}</div>
  
      <b>Email</b>
      <div class="mb-2">{{counselor['email']}}</div>
  
      <b>Phone no.</b>
      <div class="mb-2">{{counselor['phone_no']}}</div>
  
      <b>Free Hours</b>
      <div class="mb-2">{{counselor['time_range']}}</div>
  
      <b>Occupation</b>
      <div class="mb-2">{{counselor['occupation']}}</div>
  
      <b>About You</b>
      <div class="mb-2">{{counselor['des']}}</div>
    </div>
    
    <div class="text-center">
      <a href="/" type="button" class="btn btn-outline-primary">Home</a>
    </div>
      
  
      {% include 'footer.html' %}
    </div>

    
  <!--javascript file-->
  {% include 'bootstrap_js.html' %}
    
  </body>

</html>