<!DOCTYPE html>
<html>

  <head>

    <title>Counselor - AnuYog</title>
    <link rel="icon" type="images/x-icon" href="/static/logo- AnuYog.png" />

    {% include 'bootstrap_css.html' %}
    {% include 'lottie_script.html' %}

  </head>

  <body>

    <!--navigation bar-->
    {% include 'nav.html' %}

    <div class="container mt-3">
      <div class= "row justify-content-center">
        <div class="col-sm-8">
          <h2>Login as Counselor</h2>
          <form action="/login_counselor", method = "POST">
            <div class="mb-3 mt-3">
              <label for="email">Email:</label>
              <input type="email" class="form-control" id="email" placeholder="Enter email" required name="email">
            </div>
            <div class="mb-3">
              <label for="pwd">Password:</label>
              <input type="password" class="form-control" id="pwd" placeholder="Enter password" required name="password">
            </div>

            {% if error %}
                <p>{{ error }}</p>
            {% endif %}
            <button type="submit" class="btn btn-dark">Login</button>
            <a href= "/register_counselor" class="btn btn-primary">Register</a>
          </form>
        </div>
      </div>

    </div>



    <!--footer area-->
    {% include 'footer.html' %}


  <!--javascript file-->
  {% include 'bootstrap_js.html' %}

  </body>

</html>