<!DOCTYPE html>
<html>
  
  <head>
    
    <title>Counselor - AnuYog</title>
    <link rel="icon" type="images/x-icon" href="/static/logo- AnuYog.png" />
    
    {% include 'bootstrap_css.html' %}
    {% include 'lottie_script.html' %}
    
  </head>

  <body>

    <!--navigation bar-->
    {% include 'nav.html' %}

    <div class="image-container" style="width: 100%;max-height: 950px;overflow: hidden; align-content: center;">
      <img src="https://images.unsplash.com/photo-1558522195-e1201b090344?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80" style="width: 100%;height: auto;object-fit: cover; object-position: center; " alt="Your image">
    </div>

        
    <div class="container">
      

      <h1 class="text-center p-5 mt-4 mb-4" style="color:rgb(150,110,300);">Become a Counselor</h1>


      <div class="row">
        <div class="col-6">
          <div class="mb-4">
            <form class="lead" action="/counselor/registered" method="post">
              <div class="mb-2">
              <label style="font-size:20px;color:rgb(100,100,100); font-family:Lucida Console;">User Name:</label><br>
              <input class="form-control" type="text" required name="counselor_name" placeholder="srm">
              </div>
    
              <div class="mb-2">
              <label style="font-size:20px;color:rgb(100,100,100); font-family:Lucida Console;">Name:</label><br>
              <input class="form-control" type="text" required name="name" placeholder="SRM Institute">
              </div>
    
              <div class="mb-2">
              <label style="font-size:20px;color:rgb(100,100,100); font-family:Lucida Console;">Gender:</label><br>
              <input class="form-control" type="text" required name="gender" placeholder="Male/Female">
              </div>
    
              <div class="mb-2">
              <label style="font-size:20px;color:rgb(100,100,100); font-family:Lucida Console;">Age:</label><br>
              <input class="form-control" type="text" required name="age" placeholder="25">
              </div>
    
              <div class="mb-2">
              <label style="font-size:20px;color:rgb(100,100,100); font-family:Lucida Console;">Occupation:</label><br>
              <input class="form-control" type="text" name="occupation" placeholder="student">
              </div>
    
              <div class="mb-2">
              <label style="font-size:20px;color:rgb(100,100,100); font-family:Lucida Console;">Your free time:</label><br>
              <input class="form-control" type="text" required name="time" placeholder="17-22 --> only this format">
              </div>
    
              <div class="mb-2">
              <label style="font-size:20px;color:rgb(100,100,100); font-family:Lucida Console;">Phone Number:</label><br>
              <input class="form-control" type="text" required name="phone_no" placeholder="91xxxxxxxxxx">
              </div>
            
              <div class="mb-2">
              <label style="font-size:20px;color:rgb(100,100,100); font-family:Lucida Console;">Email:</label><br>
              <input class= "form-control" type="email" required name="email" placeholder="srm@mrs.com">
              </div>
            
              <div class="mb-2">
                <label style="font-size:20px;color:rgb(100,100,100); font-family:Lucida Console;">Desciption:</label><br>
                <textarea class="form-control" name="about" placeholder="Tell something about yourself........"></textarea>
              </div>
              <div class="text-center">
                <button class="btn btn-primary btn-lg" type="submit">Register</button>
              </div>
            </form>
          </div>
        </div>

        <div class="col-6 align-self-center">
          <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
<lottie-player src="https://assets8.lottiefiles.com/packages/lf20_ZLL9BMHuN9.json"  background="transparent"  speed="1"  style="width: 300px; height: 300px;"  loop  autoplay></lottie-player>
        </div>
        
      </div>
      
      
  
      {% include 'footer.html' %}
    </div>

    
  <!--javascript file-->
  {% include 'bootstrap_js.html' %}
    
  </body>

</html>