<!DOCTYPE html>
<html>
  
  <head>
    
    <title>AnuYog</title>
    
    {% include 'bootstrap_css.html' %}
    {% include 'lottie_script.html' %}
    
  </head>

  <body>

    <!--navigation bar-->
    {% include 'nav.html' %}

    {% include 'corousel.html' %}
    
    
    <div class="container">
      
      
      <h1 class="text-center mt-4 mb-4 p-4">About Us</h1>
      
      <div class="row">
        <div class="lead col-8 fs-4">{% include 'about_us.txt' %}</div>
        <div class="col-4">
          <lottie-player src="https://assets8.lottiefiles.com/packages/lf20_v1yudlrx.json"  background="transparent"  speed="1"  style="width: auto; height: 600px;"  loop  autoplay></lottie-player>
        </div>
      </div>


      {% include 'footer.html' %}
  
    </div>
    
  <!--javascript file-->
  {% include 'bootstrap_js.html' %}
    
  </body>

</html>