<!DOCTYPE html>
<html>
  
  <head>
    
    <title>Questions- AnuYog</title>
    <link rel="icon" type="images/x-icon" href="/static/logo- AnuYog.png" />
    
    {% include 'bootstrap_css.html' %}
    {% include 'lottie_script.html' %}
    
  </head>

  <body>

    <!--navigation bar-->
    {% include 'nav.html' %}

      <div class="image-container" >
      <img src="https://images.unsplash.com/photo-1617575521317-d2974f3b56d2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1974&q=80" style="width: 100%;height: 952px;object-fit: cover;overflow:hidden; align-content:center; " alt="Your image">
    </div>
    
    <div class="container">


      <div class="text-center lead fs-2 mt-4 p-4" style="color:rgb(150,10,300);">
        <b>Please answer some questions</b>
      </div>

      <div style="margin-left:500px;">
        <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
<lottie-player src="https://assets4.lottiefiles.com/packages/lf20_au4zdsr8.json"  background="transparent"  speed="1"  style="width: 300px; height: 300px;"  loop  autoplay></lottie-player>
      </div>

      <div class="text-center">
        <a href="https://anuyog.siddhantshekha1.repl.co/select_counselor" type="button" class="btn btn-outline-secondary">Skip</a>
      </div>


      


      <div class="row">
        <div class="col-6">
          <div class="mb-4">
            <form name="questions" class="lead" action="/questions/answers" method="post">

              
              <div class="mb-2">
                <label for="question_1" style="font-size:20px; color:rgb(100,100,100); font-family:Lucida Console;">Little interest or pleasure in doing things:</label><br>
                <div class="col-4">
                  <select name="question_1" id="qestion_1" class="form-select" aria-label="Default select example">
                    <option selected ></option>
                    <option value="Never" >Never</option>
                    <option value="Sometimes">Sometimes</option>
                    <option value="Frequently">Frequently</option>
                    <option value="Almost always">Almost always</option>
                  </select>
                </div>
              </div>

              <div class="mb-2">
                <label for="question_2" style="font-size:20px; color:rgb(100,100,100); font-family:Lucida Console;">Feeling down, depressed, or hopeless:</label><br>
                <div class="col-4">
                  <select name="question_2" id="question_2" class="form-select" aria-label="Default select example">
                    <option selected ></option>
                    <option value="Never" >Never</option>
                    <option value="Sometimes">Sometimes</option>
                    <option value="Frequently">Frequently</option>
                    <option value="Almost always">Almost always</option>
                  </select>
                </div>
              </div>

              <div class="mb-2">
                <label for="question_3" style="font-size:20px; color:rgb(100,100,100); font-family:Lucida Console;">Trouble falling or staying asleep, or sleeping too much:</label><br>
                <div class="col-4">
                  <select name="question_3" id="question_3" class="form-select" aria-label="Default select example">
                    <option selected ></option>
                    <option value="Never" >Never</option>
                    <option value="Sometimes">Sometimes</option>
                    <option value="Frequently">Frequently</option>
                    <option value="Almost always">Almost always</option>
                  </select>
                </div>
              </div>

              <div class="mb-2">
                <label for="question_4" style="font-size:20px; color:rgb(100,100,100); font-family:Lucida Console;">Feeling tired or having little energy:</label><br>
                <div class="col-4">
                  <select name="question_4" id="question_4" class="form-select" aria-label="Default select example">
                    <option selected ></option>
                    <option value="Never" >Never</option>
                    <option value="Sometimes">Sometimes</option>
                    <option value="Frequently">Frequently</option>
                    <option value="Almost always">Almost always</option>
                  </select>
                </div>
              </div>

              <div class="mb-2">
                <label for="question_5" style="font-size:20px; color:rgb(100,100,100); font-family:Lucida Console;">Poor appetite or overeating:</label><br>
                <div class="col-4">
                  <select name="question_5" id="question_5" class="form-select" aria-label="Default select example">
                    <option selected ></option>
                    <option value="Never" >Never</option>
                    <option value="Sometimes">Sometimes</option>
                    <option value="Frequently">Frequently</option>
                    <option value="Almost always">Almost always</option>
                  </select>
                </div>
              </div>

              <div class="mb-2">
                <label for="question_6" style="font-size:20px; color:rgb(100,100,100); font-family:Lucida Console;">Feeling bad about yourself—or that you are a failure or have let yourself or your family down:</label><br>
                <div class="col-4">
                  <select name="question_6" id="question_6" class="form-select" aria-label="Default select example">
                    <option selected ></option>
                    <option value="Never" >Never</option>
                    <option value="Sometimes">Sometimes</option>
                    <option value="Frequently">Frequently</option>
                    <option value="Almost always">Almost always</option>
                  </select>
                </div>
              </div>

              <div class="mb-2">
                <label for="question_7" style="font-size:20px; color:rgb(100,100,100); font-family:Lucida Console;">Trouble concentrating on things such as reading the newspaper or watching television:</label><br>
                <div class="col-4">
                  <select name="question_7" id="question_7" class="form-select" aria-label="Default select example">
                    <option selected ></option>
                    <option value="Never" >Never</option>
                    <option value="Sometimes">Sometimes</option>
                    <option value="Frequently">Frequently</option>
                    <option value="Almost always">Almost always</option>
                  </select>
                </div>
              </div>

              <div class="mb-2">
                <label for="question_8" style="font-size:20px; color:rgb(100,100,100); font-family:Lucida Console;">Moving or speaking so slowly that other people could have noticed. Or the opposite—being so fidgety or restless that you have been moving around a lot more than usual:</label><br>
               <div class="col-4">
                  <select name="question_8" id="question_8" class="form-select" aria-label="Default select example">
                    <option selected ></option>
                    <option value="Never" >Never</option>
                    <option value="Sometimes">Sometimes</option>
                    <option value="Frequently">Frequently</option>
                    <option value="Almost always">Almost always</option>
                  </select>
                </div>
              </div>

              <div class="mb-2">
                <label for="question_9" style="font-size:20px; color:rgb(100,100,100); font-family:Lucida Console;">Thoughts that you would be better off dead or of hurting yourself in some way:</label><br>
                <div class="col-4">
                  <select name="question_9" id="question_9" class="form-select" aria-label="Default select example">
                    <option selected ></option>
                    <option value="Never" >Never</option>
                    <option value="Sometimes">Sometimes</option>
                    <option value="Frequently">Frequently</option>
                    <option value="Almost always">Almost always</option>
                  </select>
                </div>
              </div>

              <div class="mb-2">
                <label for="question_10" style="font-size:20px; color:rgb(100,100,100); font-family:Lucida Console;">I feel pleasant:</label><br>
                <div class="col-4">
                  <select name="question_10" id="question_10" class="form-select" aria-label="Default select example">
                    <option selected ></option>
                    <option value="Never" >Never</option>
                    <option value="Sometimes">Sometimes</option>
                    <option value="Frequently">Frequently</option>
                    <option value="Almost always">Almost always</option>
                  </select>
                </div>
              </div>

              <div class="mb-2">
                <label for="question_11" style="font-size:20px; color:rgb(100,100,100); font-family:Lucida Console;">I feel nervous and restless:</label><br>
                <div class="col-4">
                  <select name="question_11" id="question_11" class="form-select" aria-label="Default select example">
                    <option selected ></option>
                    <option value="Never" >Never</option>
                    <option value="Sometimes">Sometimes</option>
                    <option value="Frequently">Frequently</option>
                    <option value="Almost always">Almost always</option>
                  </select>
                </div>
              </div>

              <div class="mb-2">
                <label for="question_12" style="font-size:20px; color:rgb(100,100,100); font-family:Lucida Console;">I feel satisfied with myself:</label><br>
                <div class="col-4">
                  <select name="question_12" id="question_12" class="form-select" aria-label="Default select example">
                    <option selected ></option>
                    <option value="Never" >Never</option>
                    <option value="Sometimes">Sometimes</option>
                    <option value="Frequently">Frequently</option>
                    <option value="Almost always">Almost always</option>
                  </select>
                </div>
              </div>

              <div class="mb-2">
                <label for="question_13" style="font-size:20px; color:rgb(100,100,100); font-family:Lucida Console;">I wish I could be as happy as others seem to be:</label><br>
                <div class="col-4">
                  <select name="question_13" id="question_13" class="form-select" aria-label="Default select example">
                    <option selected ></option>
                    <option value="Never" >Never</option>
                    <option value="Sometimes">Sometimes</option>
                    <option value="Frequently">Frequently</option>
                    <option value="Almost always">Almost always</option>
                  </select>
                </div>
              </div>

              <div class="mb-2">
                <label for="question_14" style="font-size:20px; color:rgb(100,100,100); font-family:Lucida Console;">I feel like a failure:</label><br>
                <div class="col-4">
                  <select name="question_14" id="question_14" class="form-select" aria-label="Default select example">
                    <option selected ></option>
                    <option value="Never" >Never</option>
                    <option value="Sometimes">Sometimes</option>
                    <option value="Frequently">Frequently</option>
                    <option value="Almost always">Almost always</option>
                  </select>
                </div>
              </div>

              <div class="mb-2">
                <label for="question_15" style="font-size:20px; color:rgb(100,100,100); font-family:Lucida Console;">I feel rested:</label><br>
                <div class="col-4">
                  <select name="question_15" id="question_15" class="form-select" aria-label="Default select example">
                    <option selected ></option>
                    <option value="Never" >Never</option>
                    <option value="Sometimes">Sometimes</option>
                    <option value="Frequently">Frequently</option>
                    <option value="Almost always">Almost always</option>
                  </select>
                </div>
              </div>

              <div class="mb-2">
                <label for="question_16" style="font-size:20px; color:rgb(100,100,100); font-family:Lucida Console;">I am calm, cool, and collected:</label><br>
                <div class="col-4">
                  <select name="question_16" id="question_16" class="form-select" aria-label="Default select example">
                    <option selected ></option>
                    <option value="Never" >Never</option>
                    <option value="Sometimes">Sometimes</option>
                    <option value="Frequently">Frequently</option>
                    <option value="Almost always">Almost always</option>
                  </select>
                </div>
              </div>

              <div class="mb-2">
                <label for="question_17" style="font-size:20px; color:rgb(100,100,100); font-family:Lucida Console;">I feel that difficulties are piling up so that I cannot overcome them:</label><br>
                <div class="col-4">
                  <select name="question_17" id="question_17" class="form-select" aria-label="Default select example">
                    <option selected ></option>
                    <option value="Never" >Never</option>
                    <option value="Sometimes">Sometimes</option>
                    <option value="Frequently">Frequently</option>
                    <option value="Almost always">Almost always</option>
                  </select>
                </div>
              </div>

              <div class="mb-2">
                <label for="question_18" style="font-size:20px; color:rgb(100,100,100); font-family:Lucida Console;">I worry too much over something that really doesn’t matter:</label><br>
                <div class="col-4">
                  <select name="question_18" id="question_18" class="form-select" aria-label="Default select example">
                    <option selected ></option>
                    <option value="Never" >Never</option>
                    <option value="Sometimes">Sometimes</option>
                    <option value="Frequently">Frequently</option>
                    <option value="Almost always">Almost always</option>
                  </select>
                </div>
              </div>

              <div class="mb-2">
                <label for="question_19" style="font-size:20px; color:rgb(100,100,100); font-family:Lucida Console;">I am happy:</label><br>
                <div class="col-4">
                  <select name="question_19" id="question_19" class="form-select" aria-label="Default select example">
                    <option selected ></option>
                    <option value="Never" >Never</option>
                    <option value="Sometimes">Sometimes</option>
                    <option value="Frequently">Frequently</option>
                    <option value="Almost always">Almost always</option>
                  </select>
                </div>
              </div>

              <div class="mb-2">
                <label for="question_20" style="font-size:20px; color:rgb(100,100,100); font-family:Lucida Console;">I have disturbing thoughts:</label><br>
                <div class="col-4">
                  <select name="question_20" id="question_20" class="form-select" aria-label="Default select example">
                    <option selected ></option>
                    <option value="Never" >Never</option>
                    <option value="Sometimes">Sometimes</option>
                    <option value="Frequently">Frequently</option>
                    <option value="Almost always">Almost always</option>
                  </select>
                </div>
              </div>

              <div class="mb-2">
                <label for="question_21" style="font-size:20px; color:rgb(100,100,100); font-family:Lucida Console;">I lack self-confidence:</label><br>
                <div class="col-4">
                  <select name="question_21" id="question_21" class="form-select" aria-label="Default select example">
                    <option selected ></option>
                    <option value="Never" >Never</option>
                    <option value="Sometimes">Sometimes</option>
                    <option value="Frequently">Frequently</option>
                    <option value="Almost always">Almost always</option>
                  </select>
                </div>
              </div>

              <div class="mb-2">
                <label for="question_22" style="font-size:20px; color:rgb(100,100,100); font-family:Lucida Console;">I feel secure:</label><br>
                <div class="col-4">
                  <select name="question_22" id="question_22" class="form-select" aria-label="Default select example">
                    <option selected ></option>
                    <option value="Never" >Never</option>
                    <option value="Sometimes">Sometimes</option>
                    <option value="Frequently">Frequently</option>
                    <option value="Almost always">Almost always</option>
                  </select>
                </div>
              </div>

              <div class="mb-2">
                <label for="question_23" style="font-size:20px; color:rgb(100,100,100); font-family:Lucida Console;">I make decisions easily:</label><br>
                <div class="col-4">
                  <select name="question_23" id="question_23" class="form-select" aria-label="Default select example">
                    <option selected ></option>
                    <option value="Never" >Never</option>
                    <option value="Sometimes">Sometimes</option>
                    <option value="Frequently">Frequently</option>
                    <option value="Almost always">Almost always</option>
                  </select>
                </div>
              </div>

              <div class="mb-2">
                <label for="question_24" style="font-size:20px; color:rgb(100,100,100); font-family:Lucida Console;">I feel inadequate:</label><br>
                <div class="col-4">
                  <select name="question_24" id="question_24" class="form-select" aria-label="Default select example">
                    <option selected ></option>
                    <option value="Never" >Never</option>
                    <option value="Sometimes">Sometimes</option>
                    <option value="Frequently">Frequently</option>
                    <option value="Almost always">Almost always</option>
                  </select>
                </div>
              </div>

              <div class="mb-2">
                <label for="question_25" style="font-size:20px; color:rgb(100,100,100); font-family:Lucida Console;">I am content:</label><br>
                <div class="col-4">
                  <select name="question_25" id="question_25" class="form-select" aria-label="Default select example">
                    <option selected ></option>
                    <option value="Never" >Never</option>
                    <option value="Sometimes">Sometimes</option>
                    <option value="Frequently">Frequently</option>
                    <option value="Almost always">Almost always</option>
                  </select>
                </div>
              </div>

              <div class="mb-2">
                <label for="question_26" style="font-size:20px; color:rgb(100,100,100); font-family:Lucida Console;">Some unimportant thought runs through my mind and bothers me:</label><br>
                <div class="col-4">
                  <select name="question_26" id="question_26" class="form-select" aria-label="Default select example">
                    <option selected ></option>
                    <option value="Never" >Never</option>
                    <option value="Sometimes">Sometimes</option>
                    <option value="Frequently">Frequently</option>
                    <option value="Almost always">Almost always</option>
                  </select>
                </div>
              </div>

              <div class="mb-2">
                <label for="question_27" style="font-size:20px; color:rgb(100,100,100); font-family:Lucida Console;">I take disappointments so keenly that I can’t put them out of my mind:</label><br>
                <div class="col-4">
                  <select name="question_27" id="question_27" class="form-select" aria-label="Default select example">
                    <option selected ></option>
                    <option value="Never" >Never</option>
                    <option value="Sometimes">Sometimes</option>
                    <option value="Frequently">Frequently</option>
                    <option value="Almost always">Almost always</option>
                  </select>
                </div>
              </div>

              <div class="mb-2">
                <label for="question_28" style="font-size:20px; color:rgb(100,100,100); font-family:Lucida Console;">I am a steady person:</label><br>
                <div class="col-4">
                  <select name="question_28" id="question_28" class="form-select" aria-label="Default select example">
                    <option selected ></option>
                    <option value="Never" >Never</option>
                    <option value="Sometimes">Sometimes</option>
                    <option value="Frequently">Frequently</option>
                    <option value="Almost always">Almost always</option>
                  </select>
                </div>
              </div>

              <div class="mb-2">
                <label for="question_29" style="font-size:20px; color:rgb(100,100,100); font-family:Lucida Console;">I get in a state of tension or turmoil as I think over my recent concerns:</label><br>
                <div class="col-4">
                  <select name="question_29" id="question_29" class="form-select" aria-label="Default select example">
                    <option selected ></option>
                    <option value="Never" >Never</option>
                    <option value="Sometimes">Sometimes</option>
                    <option value="Frequently">Frequently</option>
                    <option value="Almost always">Almost always</option>
                  </select>
                </div>
              </div>

              <div class="mb-2">
                <label style="font-size:20px;color:rgb(100,100,100); font-family:Lucida Console;">Tell about you</label><br>
                <textarea class="form-control" name="question_30" placeholder="Tell about your condition in one word.."></textarea>
              </div>
              
              <div class="text-center">
                <button class="btn btn-primary btn-lg" type="submit">Submit</button>
              </div>

              
            </form>
          </div>
        </div>

        <div class="col-6 align-self-center">
          <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
<lottie-player src="https://assets8.lottiefiles.com/packages/lf20_V0pDim.json"  background="transparent"  speed="1"  style="width: 700px; height: 700px;"  loop  autoplay></lottie-player>
        </div>
        
      </div>
      
      
      



      
      {% include 'footer.html' %}
    </div>

    
  <!--javascript file-->
  {% include 'bootstrap_js.html' %}
    
  </body>

</html>