<!DOCTYPE html>
<html>
  
  <head>
    
    <title>Select Counselor - AnuYog</title>
    <link rel="icon" type="images/x-icon" href="/static/logo- AnuYog.png" />
    
    {% include 'bootstrap_css.html' %}
    {% include 'lottie_script.html' %}
    
  </head>

  <body>

    <!--navigation bar-->
    {% include 'nav.html' %}

    <div class="image-container" style="width: 100%;max-height: 952px;overflow: hidden; align-content: center;">
      <img src="https://images.unsplash.com/reserve/wi9yf7kTQxCNeY72cCY6_Images%20of%20Jenny%20Lace%20Plasticity%20Publish%20%284%20of%2025%29.jpg?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80" style="width: 100%;height: auto;object-fit: cover; object-position: center; " alt="Your image">
    </div>

        
    <div class="container">
      

      <h1 class="text-center p-5 mt-4 mb-4" style="color:rgb(150,110,300);">Choose your Counselor</h1>
        
      <div style="margin-left:420px;">
        <script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs" type="module"></script> 

        <dotlottie-player src="https://lottie.host/6529a2dd-813c-4bc8-b1c0-f6a8a4a03e3f/4b6hncWLCk.json" background="transparent" speed="1" style="width: 500px; height: 500px;" loop autoplay></dotlottie-player>
      </div>


      <div class="row">
        <!-- <div class="col-6"> -->
        <div class = "">
          <div class="mb-4">
            <form name="features" class="lead" action="/available_counselors" method="post">



              <div class="row mb-4">
                <label for="gender" class="col-6 col-form-label" style="font-size:20px;color:rgb(100,100,100); font-family:Lucida Console;">Select "gender" of counselor:</label><br>
                <div class="col-6">
                  <select name="gender" id="gender" class="form-select" aria-label="Default select example">
                    <option selected></option>
                    {% for gender in genders %}
                    <option value="{{gender}}">{{gender}}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>


              <div class="row mb-4">
                <label for="occupation" class="col-6 col-form-label" style="font-size:20px;color:rgb(100,100,100); font-family:Lucida Console;">Select "occupation" of counselor:</label><br>
                <div class="col-6">
                  <select name="occupation" id="occupation" class="form-select" aria-label="Default select example">
                    <option selected></option>
                    {% for occupation in occupations %}
                    <option value="{{occupation}}">{{occupation}}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>


              <div class="row mb-4">
                <label for="time" class="col-6 col-form-label" style="font-size:20px;color:rgb(100,100,100); font-family:Lucida Console;">Select "time" of counselor:</label><br>
                <div class="col-6">
                  <select name="time" id="time" class="form-select" aria-label="Default select example">
                    <option selected></option>
                    {% for time in times %}
                    <option value="{{time}}">{{time}}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>


              <div class="row mb-4">
                <label for="age" class="col-6 col-form-label" style="font-size:20px;color:rgb(100,100,100); font-family:Lucida Console;">Select "age" of counselor:</label><br>
                <div class="col-6">
                  <select name="age" id="age" class="form-select" aria-label="Default select example">
                    <option selected></option>
                    {% for age in ages %}
                    <option value="{{age}}">{{age}}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>

              

              
              <div class="text-center">
                <button class="btn btn-primary btn-lg" type="submit">Submit</button>
              </div>

              
            </form>
          </div>
        </div>

        <!-- <div class="col-6 align-self-center">
          <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
<lottie-player src="https://assets8.lottiefiles.com/packages/lf20_V0pDim.json"  background="transparent"  speed="1"  style="width: 300px; height: 300px;"  loop  autoplay></lottie-player>
        </div> -->
        
      </div>
      
      
  
      {% include 'footer.html' %}
    </div>

    
  <!--javascript file-->
  {% include 'bootstrap_js.html' %}
    
  </body>

</html>







<!-- <h3>counselors list:</h3>
<ul>
  {% for counselors in counselors %}
  <li>{{counselors['name']}}</li>
  {% endfor %}
</ul>


<div class="row mb-4">
  <label class="col-8 col-form-label" style="font-size:20px;color:rgb(100,100,100); font-family:Lucida Console;">Select gender of counselor:</label><br>
  <div class="col-4">
    <select class="form-select" aria-label="Default select example">
      <option selected>gender</option>
      {% for counselors in counselors %}
      <option>{{counselors['gender']}}</option>
      {% endfor %}
    </select>
  </div>
</div> -->