<!DOCTYPE html>
<html>
  
  <head>
    
    <title>Self Help - AnuYog</title>
    <link rel="icon" type="images/x-icon" href="/static/logo- AnuYog.png" />
    
    {% include 'bootstrap_css.html' %}
    {% include 'lottie_script.html' %}
    
  </head>

  <body>

    <!--navigation bar-->
    {% include 'nav.html' %}

    <div class="image-container" style="width: 100%;max-height: 952px;overflow: hidden; align-content: center;">
      <img src="https://images.unsplash.com/photo-1627793741864-1a9ec3ef2ba0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2029&q=80" style="width: 100%;height: auto;object-fit: cover; object-position: center; " alt="Your image">
    </div>

        
    <div class="container">


      <h1 class="text-center p-5 mt-4 mb-4" style="color:rgb(150,110,300);">Self-Help Materials</h1>


      <div>
        
        <div class="row">

          <div class="row">
            <div class="col-4 mb-4">

              <div>
                <img src="https://m.media-amazon.com/images/I/41lLOs8ZpnL.jpg" class="rounded mx-auto d-block" style="height:300px; width:200px;" alt="...">
              </div>

            </div>

            <div class="col-8">

              <div class="text-center">
                <h5 class="mb-4 p-4">Ikigai: The Japanese secret to a long and happy life Kindle</h5>
                <a href="https://www.amazon.in/Ikigai-Japanese-secret-long-happy-ebook/dp/B073D36KNM?ref_=Oct_d_omwf_d_1318132031_0&pd_rd_w=Rf5An&content-id=amzn1.sym.6d876bf1-3cdb-4dbe-a7f1-92ba8ba5547b&pf_rd_p=6d876bf1-3cdb-4dbe-a7f1-92ba8ba5547b&pf_rd_r=1468CHP7ZC1R3FGRBA82&pd_rd_wg=GB3Wg&pd_rd_r=8e9927ac-376b-4727-bac7-b3e31537e49c&pd_rd_i=B073D36KNM" type="button" class="btn btn-primary mt-4">Buy</a>
              </div>
            </div>
            
          </div>


          
          <div class="row">
            <div class="col-4 mb-4">

              <div>
                <img src="https://m.media-amazon.com/images/I/41RwQlo446L._SX329_BO1,204,203,200_.jpg" class="rounded mx-auto d-block" style="height:300px; width:200px;" alt="...">
              </div>

            </div>

            <div class="col-8">

              <div class="text-center">
                <h5 class="mb-4 p-4">Energize Your Mind: Learn the Art of Mastering Your Thoughts, Feelings and Emotions</h5>
                <a href="https://www.amazon.in/Energize-Your-Mind-Mastering-Thoughts/dp/0143442287?ref_=Oct_d_obs_d_1318132031_5&pd_rd_w=omGrj&content-id=amzn1.sym.0b384aee-8949-46b1-b1e7-32d79454930b&pf_rd_p=0b384aee-8949-46b1-b1e7-32d79454930b&pf_rd_r=1468CHP7ZC1R3FGRBA82&pd_rd_wg=GB3Wg&pd_rd_r=8e9927ac-376b-4727-bac7-b3e31537e49c&pd_rd_i=0143442287" type="button" class="btn btn-primary mt-4">Buy</a>
              </div>
            </div>
            
          </div>



          <div class="row">
            <div class="col-4 mb-4">

              <div>
                <img src="https://m.media-amazon.com/images/I/41lLOs8ZpnL.jpg" class="rounded mx-auto d-block" style="height:300px; width:200px;" alt="...">
              </div>

            </div>

            <div class="col-8">

              <div class="text-center">
                <h5 class="mb-4 p-4">Ikigai: The Japanese secret to a long and happy life Kindle</h5>
                <a href="https://www.amazon.in/Ikigai-Japanese-secret-long-happy-ebook/dp/B073D36KNM?ref_=Oct_d_omwf_d_1318132031_0&pd_rd_w=Rf5An&content-id=amzn1.sym.6d876bf1-3cdb-4dbe-a7f1-92ba8ba5547b&pf_rd_p=6d876bf1-3cdb-4dbe-a7f1-92ba8ba5547b&pf_rd_r=1468CHP7ZC1R3FGRBA82&pd_rd_wg=GB3Wg&pd_rd_r=8e9927ac-376b-4727-bac7-b3e31537e49c&pd_rd_i=B073D36KNM" type="button" class="btn btn-primary mt-4">Buy</a>
              </div>
            </div>
            
          </div>


          
          <div class="row">
            <div class="col-4 mb-4">

              <div>
                <img src="https://m.media-amazon.com/images/I/41RwQlo446L._SX329_BO1,204,203,200_.jpg" class="rounded mx-auto d-block" style="height:300px; width:200px;" alt="...">
              </div>

            </div>

            <div class="col-8">

              <div class="text-center">
                <h5 class="mb-4 p-4">Energize Your Mind: Learn the Art of Mastering Your Thoughts, Feelings and Emotions</h5>
                <a href="https://www.amazon.in/Energize-Your-Mind-Mastering-Thoughts/dp/0143442287?ref_=Oct_d_obs_d_1318132031_5&pd_rd_w=omGrj&content-id=amzn1.sym.0b384aee-8949-46b1-b1e7-32d79454930b&pf_rd_p=0b384aee-8949-46b1-b1e7-32d79454930b&pf_rd_r=1468CHP7ZC1R3FGRBA82&pd_rd_wg=GB3Wg&pd_rd_r=8e9927ac-376b-4727-bac7-b3e31537e49c&pd_rd_i=0143442287" type="button" class="btn btn-primary mt-4">Buy</a>
              </div>
            </div>
            
          </div>

          <div class="row">
            <div class="col-4 mb-4">

              <div>
                <img src="https://m.media-amazon.com/images/I/41lLOs8ZpnL.jpg" class="rounded mx-auto d-block" style="height:300px; width:200px;" alt="...">
              </div>

            </div>

            <div class="col-8">

              <div class="text-center">
                <h5 class="mb-4 p-4">Ikigai: The Japanese secret to a long and happy life Kindle</h5>
                <a href="https://www.amazon.in/Ikigai-Japanese-secret-long-happy-ebook/dp/B073D36KNM?ref_=Oct_d_omwf_d_1318132031_0&pd_rd_w=Rf5An&content-id=amzn1.sym.6d876bf1-3cdb-4dbe-a7f1-92ba8ba5547b&pf_rd_p=6d876bf1-3cdb-4dbe-a7f1-92ba8ba5547b&pf_rd_r=1468CHP7ZC1R3FGRBA82&pd_rd_wg=GB3Wg&pd_rd_r=8e9927ac-376b-4727-bac7-b3e31537e49c&pd_rd_i=B073D36KNM" type="button" class="btn btn-primary mt-4">Buy</a>
              </div>
            </div>
            
          </div>


          
          <div class="row">
            <div class="col-4 mb-4">

              <div>
                <img src="https://m.media-amazon.com/images/I/41RwQlo446L._SX329_BO1,204,203,200_.jpg" class="rounded mx-auto d-block" style="height:300px; width:200px;" alt="...">
              </div>

            </div>

            <div class="col-8">

              <div class="text-center">
                <h5 class="mb-4 p-4">Energize Your Mind: Learn the Art of Mastering Your Thoughts, Feelings and Emotions</h5>
                <a href="https://www.amazon.in/Energize-Your-Mind-Mastering-Thoughts/dp/0143442287?ref_=Oct_d_obs_d_1318132031_5&pd_rd_w=omGrj&content-id=amzn1.sym.0b384aee-8949-46b1-b1e7-32d79454930b&pf_rd_p=0b384aee-8949-46b1-b1e7-32d79454930b&pf_rd_r=1468CHP7ZC1R3FGRBA82&pd_rd_wg=GB3Wg&pd_rd_r=8e9927ac-376b-4727-bac7-b3e31537e49c&pd_rd_i=0143442287" type="button" class="btn btn-primary mt-4">Buy</a>
              </div>
            </div>
            
          </div>
          
        </div>
      </div>
      

      
      
      
  
      {% include 'footer.html' %}
    </div>

    
  <!--javascript file-->
  {% include 'bootstrap_js.html' %}
    
  </body>

</html>